[Desktop Entry]
Type=Application
Name=Silk Setup
Exec=silk-setup
Icon=preferences-system
X-KDE-autostart-phase=1
X-GNOME-Autostart-enabled=true
NoDisplay=true
